/*=====CONTACT=====*/

.contact-information {
    display: grid;
    grid-template-areas:
        'datos datos datos datos'
        'formulario formulario formulario formulario'
        'ubicacion ubicacion ubicacion ubicacion';
    gap: 2rem;
}

/*--Data Section--*/

@keyframes dat {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.data {
    grid-area: datos;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dat 3s both;

    &__list {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        .list__information {
            font-size: .9rem;
            font-weight: 600;
            color: $color-text;
            display: flex;
            align-items: center;
            gap: 0.7rem;
        }

    }
}

/*--Form Section--*/

@keyframes form {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.form {
    grid-area: formulario;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: form 3s both;
}


@mixin input-area {
    width: 300px;
    padding: 12px 20px 12px 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

$inputs: (
    name: url("../../img/name.ico"),
    phone: url("../../img/cel.ico"),
    email: url("../../img/email.ico"),
    message: url("../../img/coment.ico"),
);

@each $name, $value in $inputs{
    .form-input__#{$name}{
        @include input-area;
        background-image: $value;
    }
}

.form-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    &__send {
        background-image: $icon-send;
        background-repeat: no-repeat;
        background-color: transparent;
        color: transparent;
        border: none;
        width: 34px;
        height: 31px;
        cursor: pointer;
    }
}

/*--Ubication Section--*/

.ubication {
    grid-area: ubicacion;
    margin-top: 15px;
    color: $color-text;

    &__title {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .ubication-container {
        margin-top: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;

        &__map {
            margin-top: 10px;
            width: 100%;
            height: 150px;
            border: 0;
            opacity: 0.9;
        }

        .icon {
            display: none;
        }

    }
}

/*--View Tablet and Desktop--*/

@media(min-width:768px) {
    .contact-information {
        grid-template-areas:
            'datos formulario formulario formulario '
            'datos formulario formulario formulario '
            'ubicacion ubicacion ubicacion ubicacion';
    }

    .data__list {
        width: 100%;
        height: 100%;
        justify-content: start;
        padding-top: 20px;
        gap: 3rem;
        margin-left: 20%;

        .list__information {
            font-size: 1rem;

            #medPag {
                display: none;
            }
        }
    }

    .form {
        margin-top: 30px;
        justify-content: flex-start;

        .form-input {

            &__name,
            &__phone,
            &__email,
            &__message {
                width: 350px;
            }
        }
    }
}

@media(min-width:1200px) {

    .data__list {
        width: 100%;
        height: 100%;
        justify-content: start;
        padding-top: 20px;
        gap: 3rem;
    }

    .form-input {
        &__send {
            background: none;
            border: 2px solid rgba(0, 0, 0, 0.247);
            width: 80px;
            color: #616161;

            &:hover {
                background: #5389ac;
                border: 2px solid;
                width: 80px;
                color: whitesmoke;
            }
        }

    }


}