/*=====INDEX=====*/

/*--Section Information--*/

@keyframes up {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.information {
    animation-name: up;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: both;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    &__img {
        width: 350px;
        height: 250px;
        box-shadow: $shadow-img;
    }

    &__text {
        max-width: 768px;
        padding: 20px;
        font-size: 1.3rem;
        font-weight: 500;
        color: $color-text;
        text-align: justify;
    }
}

/*--Section Services--*/

@mixin animation {
    animation: move-r 2s both;
}

@keyframes move-r {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.service-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    &__img {
        margin-top: 15px;
        width: 100%;
        height: 250px;
        box-shadow: $shadow-img;
    }

    &__title {
        color: $color-title;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }

    @for $i from 1 through 7 {
        &-#{$i} {
            @include animation;
            animation-delay: $i + 1 + s;
        }
    }
}

@media(min-width:500px) {
    .service__img {
        max-width: 400px;
        height: 200px;
    }
}

/*--View Tablet and Desktop--*/

@media(min-width:768px) {
    @mixin animation {
        animation: move-up 2s both;
    }

    @keyframes move-up {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @for $i from 1 through 7 {
        .service-#{$i} {
            @include animation;
            animation-delay: $i + 1 + s;
        }
    }

    .service-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: .3rem;
    }

    .service--last {
        grid-column: 2/3;
    }
}

@media(min-width:1200px) {

    .information {
        flex-direction: row;
        gap: 2rem;
        padding: 20px;

        &__img {
            width: 400px;
            height: 300px;
        }

        &__text {
            max-width: 580px;
            text-align: justify;
        }
    }
}