/*=====PRODUCTS=====*/

/*--Cards--*/

.container-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    .card {
        width: 300px;
        justify-content: center;
        align-items: center;
        transition: 1s;

        &:hover {
            box-shadow: $shadow-img;
        }

        &__img {
            border-bottom: 1px solid black;
            width: 200px;
            height: 250px;
        }

        &-body .body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
            padding: 0;

            &__price {
                font-size: 1.5rem;
            }

            &__desription {
                font-size: 1rem;
            }

            &__buy {
                font-size: .9rem;
                font-weight: 600;
                color: whitesmoke;
                width: 93px;
                height: 25px;
                background-color: #02204d;
                text-align: center;
                transition: 2s;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}


/*--Pagination--*/

.center {
    text-align: center;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;

    &__link {

        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        margin: 0 4px;

        &:hover {
            background-color: #ddd;
            color: black;
        }

        &:active {
            background-color: #02204d;
        }
    }
}

/*--View Tablet and Desktop--*/

// @media (min-width:768px) {
//     .container-products {
//         display: grid;
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media (min-width:1200px) {
//     .container-products {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//     }
// }