/*=====CAROUSEL=====*/



/*--Animation--*/
$animationSpeed: 25s;

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

/*--Styling--*/

.carousel__slider {
	width: 100%;
	height: 63px;
	margin-top: 30px;
    margin-bottom: 30px;
	overflow: hidden;
	position: relative;
	
	&::before,
	&::after {
		content: "";
		height: 70px;
		width: 200px;
		position: absolute;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slider-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
		gap: 1rem;
	}
	
	.slide {
		height: 60px;
		width: 200px;

		&__img{
			width: 100%;
			height: 100%;
			filter: grayscale(100%) opacity(40%);
		}
	}
}

