/*=====NAVIGATION BAR=====*/

.navbar {
    &-toggler {
        border-radius: 0;
        border: none;

        &:focus {
            box-shadow: none;
        }
    }

    &-nav {
        height: 100vh;
        padding-left: 60px;
        gap: 2rem;
    }

    &-brand {
        &__img {
            width: 150px;
        }
    }
}

/*--Links And Icons Navigation Bar--*/

.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 1.5rem;
        color: $titles-nav;

        &:hover {
            font-weight: bolder;
            color: $titles-nav;
        }
    }
}

/*--Dektop View--*/

@media(min-width:1200px) {
    .navbar {
        &-nav {
            height: 30px;

            .icon {
                display: none;
            }
        }

        .nav {
            display: flex;
            flex-direction: column;
        }
    }
}